
<ion-header>

</ion-header>


<ion-content no-padding>

  <ion-row>Choose Date</ion-row>
  <ion-row>
    <ion-col col-6>
      <!-- <ion-label stacked>From</ion-label>
      <ion-input type="date"></ion-input> -->
      <ion-item>
        <ion-datetime placeholder="Start" displayFormat="DD MMM, YYYY" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>
    </ion-col>

    <ion-col col-6>
      <!-- <ion-label stacked>To</ion-label>
      <ion-input type="date"></ion-input> -->
      <ion-item>
        <ion-datetime placeholder="End" displayFormat="DD MMM, YYYY" [(ngModel)]="myDate"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <button ion-button>Search</button>
  </ion-row>

  <ion-row>Shifts</ion-row>

  <ion-list no-padding *ngIf="shifts">
    <button ion-item no-padding *ngFor="let shift of shifts; let i = index" (click)="read(shift, i)">
      <ion-row>
        <ion-col col-7>{{shift.date}}</ion-col>
        <ion-col col-5>Total Earned: {{shift.totalEarned}}</ion-col>
      </ion-row>
    </button>
  </ion-list>

</ion-content>
