
ion-header {
  ion-navbar {
    border-bottom: 2px solid map-get($colors, darker);
  }
}

ion-content {
  margin-top: 55px;
}

.top-element {
  margin-top: 20px;
}

// .start-shift, .active-shift, .finish-shift {
//   margin-top: 60px;
// }

.activeTab {
  background-color: map-get($colors, darker);
}

ion-footer {
  .button {
    margin: 0;
    border-radius: 0;
    height: 70px;
    border-left: 1px solid map-get($colors, darker);
    border-right: 1px solid map-get($colors, darker);
    border-top: 2px solid map-get($colors, darker);

    ion-icon {
      font-size: 40px;
    }
  }
}
