
<ion-header>

</ion-header>


<ion-content no-padding>

  <div class="start-shift" *ngIf="!activeShift">
    <ion-item>
      <ion-label floating>Choose Company</ion-label>
      <ion-select type="select" [(ngModel)]="selectedCompany">
        <ion-option *ngFor="let company of companies" [value]="company">
          {{company.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Enter Starting Mileage</ion-label>
      <ion-input type="number" [(ngModel)]="shift.startMileage"></ion-input>
    </ion-item>

    <button ion-button (click)="startShift()">Start New Shift</button>
  </div>

  <div class="active-shift" *ngIf="!activeShift">
    <ion-row>Date</ion-row>

    <ion-row>
      <ion-col col-9>Add Transaction</ion-col>
      <ion-col col-3>
        <button ion-button icon-only (click)="addTransaction()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-9>Add Delivery</ion-col>
      <ion-col col-3>
        <button ion-button icon-only (click)="addDelivery()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-col>
    </ion-row>

    <ion-list no-padding>
      <ion-item *ngFor="let delivery of deliveries; let i = index">
        <ion-row>
          <ion-col>Delivery # {{i + 1}}</ion-col>
          <ion-col>{{delivery.paymentType}}</ion-col>
          <ion-col>{{delivery.tipAmount}}</ion-col>
        </ion-row>
      </ion-item>
    </ion-list>

    <button ion-button (click)="finishShift()">Finish Shift</button>

  </div>

</ion-content>
